{% load i18n %}
{% block content %}
    <div id="addserviceform-container">
    <p>
      New REST services may no longer be added to KoBoCAT. Please migrate ALL
      new <strong>and existing</strong> REST services to KPI!
    </p>
    <ol id="restservice_list">
        {% for sv in list_services %}
            {% include "service.html" %}
        {% endfor %}
    </ol>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
        var attach_delete = function(){
            var el = $(this);
            $.post(el.data('url'), "service-id=" + el.data('id'), function(data){
                el.parent().remove();
            });
            return false;
        };

        $('a.restserviceitem').click(attach_delete);
    });
    </script>
{% endblock %}
