export KC_DATABASE_URL_DESTINATION=postgis://u:p@localhost:5432/kobotoolbox
export MONGO_DB_URL_DESTINATION=mongodb://u:p@localhost:27017/formhub
export DJANGO_SETTINGS_MODULE=onadata.settings.hittheroad

