{% load humanize %}

{% block content %}

{% load i18n %}
<script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropbox.js" id="dropboxjs" data-app-key="0jxhquu5po7r0an"></script>

{% include "published_surveys.html" %}
<p>
{% blocktrans with url=url %}
The url "of" this web application <strong>{{ url }}</strong>
must be given to ODK Collect before it will get forms from and
submit data to formhub. In Collect's Main Menu, press the Menu
button. Select Server Preferences, then Server. Enter
<strong>{{ url }}</strong> as the server. {% endblocktrans %}
</p>
{% endblock %}
