{% extends 'base.html' %}
{% load static %}


{% block before-content %}
{% load i18n %}

<div class="sub-header-bar">
  <div class="container__wide">
    <a class="sub-header__back" href="{% url "show_form" xform.user.username xform.id_string %}"><i class="fa fa-chevron-left"></i> {% trans "Return to" %} {{ xform.title }}</a>
  </div>
</div>

<header class="data-page__header">
</header>

{% endblock %}

{% block content %}
{% load i18n %}

<section>
  {% include "outdated_link_guidance.html" %}
</section>
{% endblock %}
