{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <style>
        .legacy-warning {
            padding: 20px;
            border: 1px solid red;
            background: lightpink;
            margin-left: 20px;
            margin-right: 20px;
        }
        .legacy-warning a {
            color: darkred;
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block additional-headers %}
    {% load i18n %}
    {% if show_dashboard %}
        <header class="projects-list__header">
            <hgroup class="container">
                <h1>{% trans "Projects" %}</h1>
            </hgroup>
            <div class="container">
                <form  method="get">
                    <input type="hidden" name="sync_xforms" value="true"/>
                    <span style='float:middle;'>
                        <div>
                            <input type="submit" class="btn btn-primary" value="{% trans 'Sync XForms' %}" />
                        </div>
                    </span>
                </form>
            </div>
        </header>
    {% endif %}
{% endblock %}

<div class="projects__list">
    {% block content %}
        {% if show_dashboard %}
            {% include "published_surveys.html" %}
        {% else %}
            <!-- user is not logged in -->
            <script type="text/javascript">
                console && console.log && console.log("profile.html: redirect to login?")
            </script>
        {% endif %}
    {% endblock %}
</div>

{% block below-content %}
    {% if show_dashboard %}

        <div class="container-fluid container__wide projects__advanced">
            {% if all_forms or forms_shared_with %}
            {% else %}
                <div class="projects__empty">
                    <p>{% trans "You currently have no projects yet." %}</p>
                    <p>{% trans "You can create a project by deploying one of your forms." %}</p>
                    {% if koboform_url %}
                        <p><a href="{{ koboform_url }}/">{% trans "Click here to go to your forms list." %}</a></p>
                    {% endif %}
                </div>
            {% endif %}

            <div class="legacy-warning">
                <div class="container">
                    We no longer support deploying projects directly from the legacy interface.<br>
                    Please use the <a href="{{ koboform_url }}">new interface</a> to
                    deploy your projects and access to all our new shiny tools and features.
                </div>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}
