{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <style>
        .legacy-warning {
            padding: 20px;
            border: 1px solid red;
            background: lightpink;
            margin-left: 20px;
            margin-right: 20px;
        }

        .legacy-warning a {
            color: darkred;
            text-decoration: underline;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block additional-headers %}
    {% load i18n %}
    {% if show_dashboard %}
        <header class="projects-list__header">
            <hgroup class="container">
                <h1>{% trans "Projects" %}</h1>
            </hgroup>
        </header>
    {% endif %}
{% endblock %}

{% block before-content %}
    {% include "legacy_banner.html" %}
{% endblock %}

<div class="projects__list">
    {% block content %}
        {% if all_forms or forms_shared_with %}
            <div class="container-fluid">
                <form method="get">
                    <input type="hidden" name="sync_xforms" value="true"/>
                    <div>
                        <p>
                            Click the <b>Sync form</b> button below to make sure all your projects
                            are available in the <a href="{{ koboform_url }}">regular interface</a>.
                            All settings, data visualizations, and exports are
                            available there.<br>
                            <div style="text-align: center">
                                <button type="submit" class="legacy-banner__button legacy-banner__button--gray">
                                    {% trans 'Sync forms' %}
                                </button>
                                <a class="legacy-banner__button legacy-banner-button__no_projects_override" href="{{ koboform_url }}" target="_blank">
                                    {% trans "Go to regular interface" %}
                                </a>
                            </div>
                        </p>
                    </div>
                </form>
            </div>
            {% if show_dashboard %}
                {% include "published_surveys.html" %}
            {% else %}
                <!-- user is not logged in -->
                <script type="text/javascript">
                    console && console.log && console.log("profile.html: redirect to login?")
                </script>
            {% endif %}
        {% endif %}
    {% endblock %}
</div>

{% block below-content %}
    {% if show_dashboard and not all_forms and not forms_shared_with %}
        <div class="container-fluid container__wide projects__advanced">
            <div class="projects__empty">
                <p>{% trans "You currently have no projects yet." %}</p>
                <p>{% trans "You can create a project by deploying one of your forms." %}</p>
                {% if koboform_url %}
                    <p>
                        <a class="legacy-banner__button legacy-banner-button__no_projects_override" href="{{ koboform_url }}" target="_blank">{% trans "Go to regular interface" %}</a>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
{% endblock %}
