{% load humanize %}
{% load i18n %}

{% if all_forms or forms_shared_with %}

  {% if message and message.preview_url %}
    <div id="preview-modal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{{ message.published_survey.title }} - {% trans "Preview" %}</h3>
      </div>
      <div class="modal-body">
        <iframe src="{{message.preview_url}}"></iframe>
      </div>
      <div class="modal-footer"></div>
    </div>
  {% endif %}

  {% for xform_list in xforms_list %}
    {% if xform_list.id == "published_or_shared" %}
      <section id="{{ xform_list.id }}-forms" class="published_forms">
        {% if xform_list.xforms %}
          {% include 'published_forms__list.html' %}
        {% endif %}
      </section>
    {% else %}
      <!-- not displaying '{{ xform_list.id }}' form list -->
    {% endif %}
  {% endfor %}
{% endif %}
