{% extends 'base.html' %}
{% load i18n %}

<div>
{% block content %}

<style type="text/css" media="screen">
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}


thead td {
  font-weight: bold;
  text-align: center;
}
</style>

<h1>{%  trans "Exports" %}:</h1>

<table cellspacing="0" cellpadding="0">
<thead>

<tr>
  <td colspan="3">{% trans "Groups included" %}</td>
  <td colspan="3">{% trans "Groups excluded" %}</td>
</tr>

<tr>
  <td>{% trans "HTML view" %}</td>
  <td>{% trans "CSV" %}</td>
  <td>{% trans "XLS" %}</td>
  <td>{% trans "HTML view" %}</td>
  <td>{% trans "CSV" %}</td>
  <td>{% trans "XLS" %}</td>
</tr>

</thead>

<tbody>

<tr>
  <td>
    <a href="{% url 'formpack_html_export' username id_string %}?hierarchy_in_labels=true">
      {% trans "XML values and headers" %}
    </a>
  </td>
  <td>
    <a href="{% url 'formpack_csv_export' username id_string %}?hierarchy_in_labels=true">
      {% trans "XML values and headers" %}
    </a>
  </td>
  <td>
    <a href="{% url 'formpack_xlsx_export' username id_string %}?hierarchy_in_labels=true">
      {% trans "XML values and headers" %}
    </a>
  </td>
  <td>
    <a href="{% url 'formpack_html_export' username id_string %}">
      {% trans "XML values and headers" %}
    </a>
  </td>
  <td>
    <a href="{% url 'formpack_csv_export' username id_string %}">
      {% trans "XML values and headers" %}
    </a>
  </td>
  <td>
    <a href="{% url 'formpack_xlsx_export' username id_string %}">
      {% trans "XML values and headers" %}
    </a>
  </td>

</tr>

{% for lang in languages %}

    {% if lang == "_default" %}

        <tr>
          <td>
            <a href="{% url 'formpack_html_export' username id_string %}?lang=_default&amp;hierarchy_in_labels=true">
              {% trans "Default labels" %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_csv_export' username id_string %}?lang=_default&amp;hierarchy_in_labels=true">
              {% trans "Default labels" %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_xlsx_export' username id_string %}?lang=_default&amp;hierarchy_in_labels=true">
              {% trans "Default labels" %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_html_export' username id_string %}?lang=_default">
              {% trans "Default labels" %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_csv_export' username id_string %}?lang=_default">
              {% trans "Default labels" %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_xlsx_export' username id_string %}?lang=_default">
              {% trans "Default labels" %}
            </a>
          </td>

        </tr>

    {% else %}

        <tr>
          <td>
            <a href="{% url 'formpack_html_export' username id_string %}?lang={{ lang }}&amp;hierarchy_in_labels=true">
              {% trans lang %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_csv_export' username id_string %}?lang={{ lang }}&amp;hierarchy_in_labels=true">
              {% trans lang %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_xlsx_export' username id_string %}?lang={{ lang }}&amp;hierarchy_in_labels=true">
              {% trans lang %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_html_export' username id_string %}?lang={{ lang }}">
              {% trans lang %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_csv_export' username id_string %}?lang={{ lang }}">
              {% trans lang %}
            </a>
          </td>
          <td>
            <a href="{% url 'formpack_xlsx_export' username id_string %}?lang={{ lang }}">
              {% trans lang %}
            </a>
          </td>
        </tr>

    {% endif %}

{% endfor %}

</tbody>
</table>

{% endblock %}
</div>
