{% load static %}
<div class="header">
  <ul class="nav nav-pills pull-right"></ul>
  <a class="brand" href="/" title="KoBoCAT">
    <img alt="KoBoCAT" src="{% static "images/kobocat_logo.png" %}" />
  </a>
</div>
<div class="header-warning">
  We no longer recommend using the legacy interface. Please access all our new features in the <a href="{{ koboform_url }}">new interface</a> (new map, table, reports, labeled data exports, etc.). If you have deployed your project directly in the legacy interface, there is no way to use these new features. <strong>This legacy interface will be removed shortly.</strong>
</div>
