{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  {% if show_dashboard %}
    {% include "published_surveys.html" %}
  {% else %}
    <!-- user is not logged in -->
    <script type="text/javascript">
      console && console.log && console.log("profile.html: redirect to login?")
    </script>
  {% endif %}
{% endblock %}

<!--
  <script type="text/javascript">$('#gravatar').tooltip();</script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.pagination.js"></script>
  <script type="text/javascript">
/*
        $.extend( $.fn.dataTableExt.oStdClasses, {
          "sSortAsc": "header headerSortDown",
          "sSortDesc": "header headerSortUp",
          "sSortable": "header"
        } );


	$(document).ready(function() {

        $(document).on("click", ".showqr", function () {
          div_target = $(this).attr('data-target')
          url = $(this).attr('href')
          $(div_target+" .img_holder").load(url)

        });

	  var tbl = $('#published-table').dataTable({
        "bPaginate": false,
        "sPaginationType": "bootstrap",
        "bSort": true,
        "oLanguage": {"sSearch": "{% trans 'Search:' %}"},
        "oSearch": {"sSearch": ""},
        "aoColumnDefs": [
            { "bVisible": false, "aTargets": [ 6 ] }
        ]
      });
      tbl.fnFilter( 'true', 6, true);
      var tblFilter = $('#published-table_filter');
      tblFilter.addClass('row');
      tblFilter.prepend('{% trans "Show inactive:" %} <input id="active-select" type="checkbox" />&nbsp;&nbsp;');
      $('#active-select').change(function() {
          tbl.fnFilter('(true' + ($(this).is(':checked') ? '|false)' : ')'), 6, true);
      });

        // remove shared forms
        $('.remove-shared-form').each(function (index, link) {
            link.onclick = function (evt) {
                evt.preventDefault();
                evt.stopPropagation();
                var url = $(this).data('url');
                var username = $(this).data('username');
                var data = {'perm_type': 'remove', 'for_user': username};
                var remove_permission_xhr = $.post(url, data);
                remove_permission_xhr.success(function (data) {
                    $(link).parents('tr').remove();
                });
            };
        });
	});
*/
  </script>
-->
