# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: pytest

on:
  push:
    branches:
     - master
     - beta
  pull_request:
    branches:
     - master
     - beta

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ['3.8']
    services:
      postgres:
        image: postgis/postgis:9.5-2.5
        env:
          POSTGRES_USER: kobo
          POSTGRES_PASSWORD: kobo
          POSTGRES_DB: kobocat_test
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis_cache:
        image: redis:3.2
        ports:
          - 6380:6379
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Upgrade pip
      run: python -m pip install --upgrade pip
    - name: Install apt dependencies
      run: sudo apt-get install ghostscript libxml2-dev libxslt-dev python3-dev gdal-bin libproj-dev gettext postgresql-client openjdk-11-jre
    - name: Install Python dependencies
      run: pip install -r dependencies/pip/dev.txt
    - name: Run pytest
      run: pytest -vv -rf
      env:
        DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
        TEST_DATABASE_URL: postgis://kobo:kobo@localhost:5432/kobocat_test
        REDIS_SESSION_URL: redis://localhost:6380/2
        USE_POSTGRESQL: True
